@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */

header {
  background-image: url(images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.nav-bar,
.nav-icons {
  display: none;
}

.fa-bars {
  color: #524c4c;
  margin: 20px;
}

.fa-bars:hover {
  cursor: pointer;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin: 18px;
}

q {
  color: #ec5242;
  font-size: 25px;
}

h1 {
  color: rgb(236, 82, 66);
  font-size: 36px;
}

.description {
  border: 3px solid white;
  background-color: #f0ecec;
  color: #272a31;
  padding: 12px;
  font-size: 17px;
}

.promotion {
  color: #272a31;
  font-weight: bold;
  font-size: 22px;
}

.more {
  text-decoration: none;
  color: #272a31;
  font-weight: bold;
  font-size: 15px;
}

.more:hover {
  text-decoration: underline;
}

/* Main products */

.products {
  background-image: url(images/products\ bck.png);
  text-align: center;
  height: 100vh;
}

h2 {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.title-underline {
  width: 15%;
  border: 1px solid #ec5242;
  margin-left: auto;
  margin-right: auto;
}

.skincare {
  display: flex;
  background-color: rgb(255, 255, 255, 0.2);
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
}

.explication {
  color: #fff;
  font-size: 15px;
  text-align: left;
  max-width: 60%;
}

.product-image {
  width: 50px;
  height: 50px;
}

h3 {
  color: #ec5242;
  font-size: 15px;
  font-weight: bold;
}

.button {
  background-color: #ec5242;
  padding: 12px;
  color: #fff;
  font-size: 15px;
  width: 250px;
}

.button:hover {
  background-color: #f1936e;
  color: #272a31;
}

/* Artists */

.arts {
  color: #111;
}

.artists {
  background-color: #fff;
}

.artist-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 15px;
}

.artist-card {
  display: none;
}

.artist-card:first-child,
.artist-card:nth-child(2) {
  display: flex;
}

.artist-card.expand {
  display: flex;
}

.artist-image {
  width: 115px;
  height: 190px;
  border-radius: 6px;
  position: relative;
  display: block;
  margin-left: 20px;
  z-index: 2;
}

.imgs {
  display: inline-block;
  position: relative;
}

.back-img {
  width: 12vh;
  height: 10vh;
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 1;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  color: #272a31;
}

figcaption {
  color: #ec5242;
  font-size: 15px;
}

.artist-underline {
  width: 13%;
  height: 1%;
  border: 1px solid #d3d3d3;
}

.artist-paragraph {
  font-size: 14px;
  color: #272a31;
}

.art-desc {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.artist {
  display: flex;
  gap: 15px;
}

.artist-button {
  padding: 15px;
  border: 1px solid #d3d3d3;
  color: #272a31;
  width: 90%;
  margin: 20px;
}

.artist-button:hover {
  border: 2px solid #272a31;
}

.fa-chevron-down,
.fa-chevron-up {
  color: #ec5242;
  margin: 6px;
}

.PARTNER {
  display: none;
}

.Footer {
  display: none;
}

/* second page */

.about {
  background-image: url(images/about\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  line-height: 29px;
}

.main2 {
  text-align: center;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.navicons {
  display: none;
}

.slogan {
  font-size: 30px;
  font-weight: bold;
}

.description2 {
  background-color: #fff;
  border: 2px solid #d3d3d3;
  color: #272a31;
  font-size: 16px;
  padding: 10px;
}

.contact-us {
  font-size: 16px;
  color: #272a31;
}

.mail {
  color: #272a31;
  font-weight: bold;
}

/* logo */

.art {
  color: #272a31;
}

.our-logo {
  text-align: center;
  height: 60vh;
}

.paragraphe {
  color: #272a31;
  font-size: 16px;
  margin-top: 15px;
}

.logoo {
  width: 50%;
  border: 2px solid #d3d3d3;
}

.logo-description {
  display: grid;
  gap: 35px;
  margin: 13px;
}

/* awards */

.awards {
  border-top: 2px solid #d3d3d3;
  background-color: #fff;
  text-align: center;
}

h5 {
  color: #fff;
  font-weight: bold;
  font-size: 23px;
  margin-top: 145px;
}

.see-award1 {
  background: url(images/first\ award.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55vh;
  box-shadow: inset 0 0 0 1000px rgb(236, 82, 66, 0.6);
}

.award {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 15px;
}

.see-award2 {
  background: url(images/second\ award.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55vh;
  box-shadow: inset 0 0 0 1000px rgb(236, 82, 66, 0.6);
}

.award-par {
  color: #fff;
  font-size: 20px;
  margin: 10px;
}

/* partners */

.partner {
  background-color: rgb(17, 17, 17, 0.8);
  height: 45vh;
  margin-top: 50px;
}

.partner-image {
  width: 70px;
  height: 50px;
  margin: 20px;
  border-radius: 5px;
}

.partners {
  text-align: center;
}

/* footer */

.LOGO {
  width: 90px;
}

.footer {
  color: #272a31;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

footer {
  display: flex;
  justify-content: space-around;
  height: 20vh;
}

/* DOM */

.nav-menu ul {
  display: flex;
  flex-direction: column;
  padding: 30px;
  list-style: none;
  margin-top: 20px;
}

.nav-menu {
  background-color: #ec5242;
  opacity: 0.9;
  height: 100vh;
  margin-top: -72px;
  position: absolute;
  width: 100%;
  display: none;
}

.nav-menu.active {
  display: block;
}

.nav-menu ul li {
  margin: 20px;
  font-size: 35px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #272a31;
  font-weight: bold;
}

.fa-times {
  color: #272a31;
  float: right;
  margin-right: 40px;
  margin-top: 10px;
}

.product-list {
  margin-bottom: 15px;
}

/* Desketop version */

/* first page */

@media screen and (min-width: 768px) {
  .nav-icons {
    display: flex;
    justify-content: end;
    padding: 12px;
    color: #fff;
    background-color: #272a31;
  }

  .nav-icons ul {
    display: flex;
    gap: 40px;
    margin-right: 330px;
  }

  .nav-icons ul li {
    list-style: none;
  }

  .nav-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }

  .fa-bars {
    display: none;
    visibility: hidden;
    margin: 0;
  }

  .nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px;
  }

  .nav-links {
    display: flex;
    gap: 45px;
    font-weight: bold;
    align-items: center;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 16px;
  }

  .click {
    width: 50px;
  }

  .flawless {
    color: #ec5242;
    border: 4px solid #ec5242;
    padding: 10px;
  }

  .flawless:hover {
    border: 3px solid #272a31;
  }

  .LINK {
    color: #272a31;
  }

  .LINK:hover {
    color: #ec5242;
  }

  /* header */

  .main {
    flex-direction: column;
    margin-left: 250px;
    width: 45%;
    gap: 35px;
  }

  h1 {
    font-size: 60px;
  }

  q {
    font-size: 40px;
  }

  .description {
    font-size: 18px;
    padding: 18px;
    line-height: 30px;
  }

  .promotion {
    font-size: 34px;
  }

  /* Products */

  .skincare {
    flex-direction: column;
    width: 16%;
    margin: 3px;
    text-align: center;
  }

  .skincare:hover {
    border: 2px solid #fff;
  }

  .product-list {
    display: flex;
    justify-content: center;
    margin: 50px;
  }

  .title-underline {
    width: 5%;
  }

  .explication {
    font-size: 14px;
    max-width: 80%;
    text-align: center;
  }

  .product-image {
    height: 65px;
    width: 70px;
  }

  .button {
    padding: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 25px;
    text-decoration: underline;
    line-height: 150px;
  }

  /* Artists */

  .artist-description {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    width: 100%;
  }

  .artist-wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .artist-card {
    display: flex;
    width: 45%;
    margin: 3px;
  }

  .artist-button {
    display: none;
  }

  figcaption {
    font-size: 13px;
  }

  .artist-paragraph {
    font-size: 13px;
    margin-bottom: 25px;
  }

  .artist-underline {
    margin-bottom: 19px;
  }

  h4 {
    font-size: 15px;
    margin-top: 15px;
  }

  .artist-image {
    height: 25vh;
  }

  .PARTNER {
    background: rgb(17, 17, 17, 0.9);
    display: grid;
  }

  .PARTNERS {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .partner-img {
    width: 150px;
    height: 90px;
    border-radius: 5px;
  }

  .Footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px;
  }

  .footer2 {
    font-size: 23px;
    padding-top: 20px;
  }

  .LOGO2 {
    width: 100px;
  }

  /* second page */

  .navicons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin: 10px;
    align-items: center;
  }

  .id {
    font-size: 13px;
    color: #272a31;
  }

  .fa-angle-right {
    color: #ec5242;
  }

  .fa-home {
    color: #272a31;
  }

  /* header */

  .slogan {
    font-size: 60px;
    line-height: 60px;
  }

  .main2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .description2 {
    font-size: 17px;
  }

  .contact-us {
    font-size: 17px;
  }

  /* LOGO */

  .our-logo {
    width: 60%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
  }

  .logoo {
    width: 60vh;
    height: 40vh;
  }

  .award {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .see-award1,
  .see-award2 {
    width: 50vh;
  }

  .partner {
    display: none;
  }

  footer {
    background-color: rgb(17, 17, 17, 0.9);
    justify-content: center;
    gap: 40px;
    height: 25vh;
    margin-top: 30px;
  }

  .footer {
    color: #fff;
    font-size: 23px;
  }

  .LOGO {
    width: 20vh;
  }
}
